<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maderski.bluetoothautoplaymusic">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver android:name=".AutostartBAPMService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />

            </intent-filter>
        </receiver>
        <receiver android:name=".PowerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".CustomReceiver">
            <intent-filter>
                <action android:name="maderski.bluetoothautoplaymusic.pluggedinlaunch" />
                <action android:name="maderski.bluetoothautoplaymusic.offtelephonelaunch" />
                <action android:name="maderski.bluetoothautoplaymusic.isselected" />
            </intent-filter>
        </receiver>

        <service android:name=".BAPMService" />

        <activity android:name=".SettingsActivity" />
        <activity android:name=".LaunchBAPMActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:noHistory="true"/>
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>