<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="maderski.bluetoothautoplaymusic">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".application.BAPMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activities.ForDebugAndTestActivity"/>
        <!-- Activities -->
        <activity android:name=".ui.activities.PermissionsActivity" />
        <activity android:name=".ui.activities.DisconnectActivity" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.LaunchBAPMActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Broadcast Receivers -->
        <receiver android:name=".receivers.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".bluetooth.receivers.BTConnectionReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.a2dp.profile.action.CONNECTION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".bluetooth.receivers.BTStateChangedReceiver" />
        <receiver android:name=".power.PowerConnectionReceiver" /> <!-- Services -->
        <service android:name=".services.BAPMService" />
        <service android:name=".bluetooth.services.OnBTConnectService" />
        <service android:name=".services.WakeLockService" />
        <service
            android:name=".services.BAPMNotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
    <queries>
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.waze" />
        <package android:name="com.spotify.music" />
        <package android:name="com.pandora.android" />
        <package android:name="mobi.beyondpod" />
        <package android:name="com.apple.android.music" />
        <package android:name="com.fmindia.activities" />
        <package android:name="com.maxmpz.audioplayer" />
        <package android:name="com.doubleTwist.androidPlayer" />
        <package android:name="com.acmeandroid.listen" />
        <package android:name="com.google.android.apps.podcasts" />
        <package android:name="deezer.android.app" />
        <package android:name="au.com.shiftyjelly.pocketcasts" />
        <package android:name="com.earthflare.android.radioparadisewidget.gpv2" />
        <package android:name="radiotime.player" />
        <package android:name="com.foobar2000.foobar2000" />
        <package android:name="ch.blinkenlights.android.vanilla" />
        <package android:name="com.jio.media.jiobeats" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.audible.application" />
    </queries>
</manifest>